.dashboard{
    overflow: hidden;

    .adnavbar{
        width: 100%;
        height: 5rem;
        background: #554545;
        box-shadow: 0 0.05rem 0.5rem 0.2rem rgba(0,0,0,0.4);
    
        .adtitle{
            font-size: 35px;
            font-weight: 900;
            font-family: 'Algerian';
            padding-top: 1rem;
            padding-left: 12rem;
            color: #eeeeee;
            cursor: pointer;
        }
    
        .signout{
            padding-right: 2rem;
            cursor: pointer;
            
            & > :first-child{
                font-size: 23px;
                font-weight: 600;
                color: #d2a679;
            }
    
            &:last-child{
                color: #996633;
                font-size: 24px;
            }
    
            &:hover{
                animation: iconScale 0.2s ease-in-out;
                animation-fill-mode: both;
            }
        }
    }

    .tableContent{
        width: 60rem;
        height: 45rem;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 0.5rem;
        margin-top: 4rem;

        .topbar{
            max-height: 2.5rem;

            .filterTXT{
                font-size: 20px;
                font-weight: 600;
                color: #ac7339;
            }

            /* .matInput{
                width: 
            } */

    
            .addBtn{
                background: #ac7339;
                color: #e6e6e6;
                font-size: 20px;
                font-weight: 600;
                cursor: pointer;
                border-radius: 0.3rem;
                box-shadow: 0 0 .8rem .05rem rgba(0,0,0,0.4); 

                &:hover{
                    background-color: #cc9966
                }
            }
        }

        .adtable{
            margin-top: 6rem;
        }

        .adtable, .th, .td {
            border: 1px solid black;
            border-collapse: collapse;
          }
        
    }

    .addScoreBackground{
        background: rgba(0, 0, 0, 0.7);
        z-index: 99;

        .ngtemplate {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .addScoreComponent{
                width: 45rem;
                /* height: 30rem; */
                background: #E7E9EB;
                color: rgba(0, 0, 0, 0.5);
                padding: 1.5rem .8rem .8rem;
                border-radius: 0.2rem;
    
                .addtitle{
                    font-size: 22px;
                    font-weight: 900;
                    color: rgba(0, 0, 0, 0.7);
                }
    
                .addDetail{
                    border: 1px solid #bfbfbf;
                    border-radius: 0.5rem;
    
                    .inputArea{
                        width: 35rem;
                        flex-wrap: wrap;

                        .user-name{
                            width: 80px;
                        }
    
                        .scoreInput{
                            width: 10rem;
                            height: 2.5rem;
                            border: none;
                            outline: none;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                            border-radius: 0.2rem;
                        }
                    }
    
                    .adNewBtn{
                        background-color: #ccc;
                        color: white;
                        font-size: 18px;
                        font-weight: 400;
                        border-radius: 0.3rem;
                        cursor: pointer;
                        box-shadow: 0 0 1.5rem .01rem rgba(0, 0, 0, 0.2);
    
                        &:hover{
                            background-color: #d9d9d9;
                        }
                    }
                }
            }
    
            .ani-scale{
                animation: scoreAnimation 0.3s ease-in-out;
                animation-fill-mode: both;
            }

        }

        
    }

}


@keyframes iconScale {
    0% {
        transform: none;
    }
    100% {
        transform: scale(1.05, 1.05);
    }
}

@keyframes scoreAnimation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}