<div class="landing d-flex justify-content-center position-relative">
    <div class="adBtnGroup">
        <div *ngIf="isLogged; else notLogged" class="d-flex justify-content-center">
            <div class="adBtn" (click)="nextPage()"><span class="adtxt">CONTINUE</span></div>
        </div>
        <ng-template #notLogged>
            <div class="d-flex justify-content-center">
                <div class="adBtn" (click)="showLogin()"><span class="adtxt">LOGIN</span></div>
                <div class="adBtn" (click)="showRegister()"><span class="adtxt">REGISTER</span></div>
            </div>
        </ng-template>
    </div>

    <div *ngIf="loginIsShown" class="loginComp position-absolute w-100 h-100 start-0 top-0" (click)="hideLogin()">
        <div #loginWindow class="loginWindow position-absolute start-0" (click)="stopEvent($event)">
            <app-signin (clicked)="hideLogin()"></app-signin>
        </div>
    </div>
    

    <div *ngIf="registerIsShown" class="registerComp position-absolute w-100 h-100 start-0 top-0" (click)="hideRegister()">
        <div #registerWindow class="registerWindow position-absolute end-0" (click)="stopEvent($event)">
            <app-signup (clicked)="hideRegister()" (isSuceed)="regIsSuceed()"></app-signup>
        </div>
    </div>
</div>

