<div class="landing d-flex justify-content-center position-relative">
    <div class="adBtnGroup">
        <div class="d-flex justify-content-center">
            <div class="adBtn" (click)="showLogin()"><span class="adtxt">{{isLogged ? 'LOGOUT' : 'LOGIN'}}</span></div>
            <div class="adBtn" (click)="showRegister()"><span class="adtxt">{{isLogged ? 'CONTINUE' : 'REGISTER'}}</span></div>
        </div>
    </div>

    <div *ngIf="loginIsShown" class="loginComp position-absolute w-100 h-100 start-0 top-0" (click)="hideLogin()">
        <div #loginWindow class="loginWindow position-absolute start-0" (click)="stopEvent($event)">
            <app-signin (clicked)="hideLogin()"></app-signin>
        </div>
    </div>
    

    <div *ngIf="registerIsShown" class="registerComp position-absolute w-100 h-100 start-0 top-0" (click)="hideRegister()">
        <div #registerWindow class="registerWindow position-absolute end-0" (click)="stopEvent($event)">
            <app-signup (clicked)="hideRegister()" (isSuceed)="regIsSuceed()"></app-signup>
        </div>
    </div>
</div>

